
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 217 62% 15%; /* dark-blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 148 76% 25%; /* green */
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 0%;    /* black */
    --accent-foreground: 0 0% 100%;
    --radius: 0.5rem;
    --sidebar-background: 217 62% 15%;
    --sidebar-foreground: 0 0% 100%;
  }
  body {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    @apply bg-background text-foreground antialiased;
  }
  h1, h2, h3 {
    @apply font-bold text-primary;
    letter-spacing: -0.01em;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-xl md:text-2xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
}
